/* noto-sans-100 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-100.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-200 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-300 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-500 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-600 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-800 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-900 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/noto-sans-v41-cyrillic_cyrillic-ext_latin-900.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CSS-змінні. Сюди покладемо значення, яке будемо використовувати багато разів. Робимо псевдоклас :root (або можна html, але вони різні за вагою). Частіше всього сюди кладуть колір. Можливо це правильно по синтаксису, але можна виділити потрібне слово, натиснути cmd+shift+l і вс код виділить всі такі ж самі слова.

Коротше треба всюди писати var(--color-brand-light)

Також може називатися - costum properties

Урок 6 - 1:16:05 - охі жопа))
*/

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* Global/Base styles */

body {
  color: var(--color-primary-dark);
  font-family: "noto sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  /* І тепер весь текст одного кольору, і не потрібно редагувати кожну секцію */
}

a {
  font-style: normal;
}

ul {
  list-style-type: none;
  /* цим правилом прибираємо кружечки у <li>. також їх можна замінити на інші значки */
}

/* /// */

/* [type] {
  /* . - щоб дати зрозуміти браузеру, що це елемент з селектором "клас". їх використовують частіше всього. # - для id */
/* [] - для використання атрибуту як селектора. наприклад [type]/[type='button']. але це цілях саморозвитку. так майже ніколи не роблять. частіше використовують class */

/* 0:22:10 - у відео номер "6", Діма розказує, як використовують атрибут disabled, який робить елемент неактивним // 
  border: 4px solid rgb(228, 11, 11);} */

/*.main-section > h1 {

/* через > звертаюся до конкретного дочірнього елементу в батьківському елементі //

  color: blue;} */

/* нижче, всі button, які змінив на btton - приклади, щоб не робити багато тексту в коментарях, і щоб воно не діяло ні на які елементи */

/* /// */

/* button */

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  /* cursor - зміна вигляду курсору при наведенні на елемент */
}

.button:hover {
  /* hover - зміна при наведенні. частіше всього для кнопок та посилань */
  color: var(--color-brand-dark);
  background-color: transparent;
  /* transparent - для прозорого фону */
}

/* /// */

.btton:focus {
  /* focus - зміна стану при фокусуванні з миші (при натисканні) чи клавіатури (tab). частіше застосовують на полях вводу: натискаємо на поле вводу, уводимо курсор з поля, але воне все ще активне, зміни будуть застосовуватися у цьому полі. наглядний приклад - поле вводу у браузері. його стан змінюється при наведенні та при "активації" поля */
  color: #465929;
  background-color: pink;
}

.btton:active {
  /* active - зміни при кліку. часто для кнопок. */
  color: yellow;
}

/* /// */

/* КАСКАДНІСТЬ - хто останній, той і виграє! Це механізм, який регулює, яке саме CSS-правило із декількох однакових заданих буде застосовуватися. Якщо стоїть правило color звластивістю red; в потім, наприклад нижче, ще один селектор з правилом color, а властивістю вже green; - то засосується green, бо воно останнє. Якшо правила різні (десь color, десь background-colo) - то вони просто перемішаються і застосуються обидва */

/* СПЕЦИФІЧНІСТЬ - вага селектора, що обчислюється браузером.

Якщо окрім классу вказати тип елементу (button, div and etc.; навіть можна ще й атрибут додати, але таку купу рідко роблять), то він буде пріорітетнішим: button.button[attribute] {...}, бо, тупо важчий, ніж просто ".button".

ВАЖЛИВО: якщо писати з пробілом "header .button" - це означає, що кнопка лежить всередині header, якщо "header.button" - значить, що на "header" - стоїть клас "button"
*/

/* НАСЛІДУВАННЯ - механізм, за яким певні властивості наслідуються нащадками від предків. Стосується тільки властивостей оформлення тексту. */

/* /// */

/* link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* hero section */

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 700;
  /* font-weight - пишу 700, бо дизайнер дибіл. У фігмі пише, що вага 900, хоча візуально, для цього шрифту, це вага 700, тому залишаю так. */
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advantages section */

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.section-title {
  font-size: 64px;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions Section */
.traditions-text .brand-uppercase {
  color: var(--color-brand-light);
  text-transform: uppercase;
  font-weight: 600;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Chef Section */

.chef-title {
  font-size: 40px;
  font-weight: 600;
}

/* Formats Section */

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Footer */

.adress-link a {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.adress-link a:hover {
  color: var(--color-brand-light);
  font-size: 16px;
  font-weight: 300;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand-light);
  font-size: 16px;
  font-weight: 300;
}

.adress-copyright {
  font-size: 14px;
  font-style: normal;
}
